APP_NAME="Insight CMS"
APP_ENV=local
APP_KEY=base64:D92V2TPLhgjMw5aiNEB1LVLO71CV9d9wjmin8HQU9nY=
NEWS_API_KEY=62ca91a83b6a43b2b653ad424a34249d
JWT_SECRET=hL2F8FEfB8qfWC9mhbhezd3eZdwOSenRzpwwkuJgZoZaGWQtSmn2UFOGTeV6kzKI
JWT_ALGO=HS256

APP_DEBUG=true
APP_URL=http://localhost

# Misc
APP_READ_ONLY=false
APP_READ_ONLY_LOGIN=true
DEBUGBAR_ENABLED=true
LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=insight_cms
DB_USERNAME=root
DB_PASSWORD=root

# Drivers
BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false

# Cache
MEMCACHED_HOST=127.0.0.1

# Queue
REDIS_CLIENT=predis
REDIS_HOST=redis              # Hostname of the Redis container (from Laradock)
REDIS_PASSWORD=secret_redis   # The password you set in Laradock's .env
REDIS_PORT=6379               # Redis default port
REDIS_DB=0                    # Redis database number (default 0)

# Mail
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# Pusher
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1


VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Application

# Access
ADMIN_REQUIRES_2FA=false
CHANGE_EMAIL=true
ENABLE_REGISTRATION=true
PASSWORD_HISTORY=3
SINGLE_LOGIN=false
PASSWORD_EXPIRES_DAYS=180

# Captcha
# Get your credentials at: https://www.google.com/recaptcha/admin
LOGIN_CAPTCHA_STATUS=false
REGISTRATION_CAPTCHA_STATUS=false
INVISIBLE_RECAPTCHA_SITEKEY=
INVISIBLE_RECAPTCHA_SECRETKEY=

# Socialite Providers
FACEBOOK_ACTIVE=false
BITBUCKET_ACTIVE=false
GITHUB_ACTIVE=false
GOOGLE_ACTIVE=false
LINKEDIN_ACTIVE=false
TWITTER_ACTIVE=false

#FACEBOOK_CLIENT_ID=
#FACEBOOK_CLIENT_SECRET=
#FACEBOOK_REDIRECT=${APP_URL}/login/facebook/callback

#BITBUCKET_CLIENT_ID=
#BITBUCKET_CLIENT_SECRET=
#BITBUCKET_REDIRECT=${APP_URL}/login/bitbucket/callback

#GITHUB_CLIENT_ID=
#GITHUB_CLIENT_SECRET=
#GITHUB_REDIRECT=${APP_URL}/login/github/callback

#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=
#GOOGLE_REDIRECT=${APP_URL}/login/google/callback

#LINKEDIN_CLIENT_ID=
#LINKEDIN_CLIENT_SECRET=
#LINKEDIN_REDIRECT=${APP_URL}/login/linkedin/callback

#TWITTER_CLIENT_ID=
#TWITTER_CLIENT_SECRET=
#TWITTER_REDIRECT=${APP_URL}/login/twitter/callback
